<h3 class="text-center">＜回答一覧＞</h3>
<% question.answers.each do |answer| %>
  <li class="answer-single">
    <p class="text-center"><%= answer.is_best_answered ? "☆ベストアンサーです☆" : "ベストアンサー以外の回答です" %></p>

    <div>
      <%= link_to user_path(answer.user.id) do %>
        <%= attachment_image_tag(answer.user, :profile_image, :fill, 60, 60, fallback: "no-image-icon.png", size: '60x60', class: "user-image-circle") %>
        <%= answer.user.name %>さん
      <% end %>
    </div>
    <div class="answer-text">
      <%= answer.answer %>
    </div>

    <!--ベストアンサーを決定する-->
    <% if question.user == current_user && answer.user_id != current_user.id %>
      <% if question.answers.where(is_best_answered: true).exists? %>
        <span>ベストアンサー選択済み</span>
      <% else %>
        <%= link_to "ベストアンサーにする", question_answer_path(question, answer, answer: {is_best_answered: true}), method: :put, class: "btn btn-info btn-xs", local: true %>
      <% end %>
    <% end %>


    <!--コメントを削除-->
    <% if answer.user == current_user %>
      <%= link_to "コメントを削除", question_answer_path(question, answer), method: :delete, class: "btn btn-danger btn-xs pull-right", remote: true %>
    <% end %>
  </li>
<% end %>

