<div class="container">
  <div class="row">
    <h2>質問投稿</h2>

    <!--エラー文-->
    <%= render "layouts/errors", model: @question %>

    <!--質問投稿フォーム-->
    <%= form_with model: @question, url: questions_path, method: :post, local: true do |f| %>

    <!--投稿画像-->
    <div class="form-center" >
      <div>
        <%= attachment_image_tag @question, :image, width: "100%", fallback: "no_image_yoko.jpg", class: "question-image-circle" %>
        <%= f.attachment_field :image, class: "form-image" %>
      </div>

    </div>

    <!--タイトル-->
    <div class="form-center">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <!--説明-->
    <div class="form-center">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, rows: 5, class: "form-control" %>
    </div>

    <!--ジャンル-->
    <div class="form-center">
      <%= f.label :genre_id, "ジャンル" %>
      <%= f.select :genre_id, Genre.all.map{|t| [t.name, t.id]}, {include_blank: '--選択してください--'} %>
    </div>

    <div class="form-center">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>