<div class="container">
  <div class="row">
    <h2>質問一覧(全<%= @questions.total_count %>件)</h2>
    <div class="col-md-3">
      <%= render 'left_column', genres: @genres %>
    </div>
    <div class="col-md-9">
      <%= form_with model: @question, url: search_questions_path, method: :get, local: true do |form| %>
        <%= form.select :keyword, [ ['投稿が新しい順', 'new'],
                                    ['投稿が古い順', 'old'],
                                    ['いいねが多い順', 'likes']
                                    ] %>
        <%= form.submit %>
      <% end %>

      <%= render 'questions_list', questions: @questions %>
    </div>
  </div>
</div>