<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <h2>ジャンル検索</h2>
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, sort_questions_path(genre_id: genre.id) %>
          </li>
        <% end %>
      </div>
      <div>
        <%= link_to '質問する！！', new_question_path, class: "btn btn-info btn-lg new-question-button" %>
      </div>
      <div>
        <%= link_to '掲示板へ！！', post_messages_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col-sm-9 question-show">
      <%= attachment_image_tag(@question, :image, width: "100%", fallback: "no_image.jpg") %>
      タイトル：<%= @question.title %><br>
      本文：<%= @question.body %><br>
      <%= link_to user_path(@question.user) do %>
        <%= attachment_image_tag(@question.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.png") %>
        <%= @question.user.name %>さん
      <% end %><br>

      <ul class="list-inline">
        <li>コメント<%= @question.answers.count %>件</li>

        <% if @question.user == current_user %>
          <li>
            <%= link_to '編集する', edit_question_path(@question), class: "btn btn-primary btn-lg pull-right" %>
          </li>
          <li>
            <%= link_to '削除する', question_path(@question), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
            class: "btn btn-danger btn-lg pull-right" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= form_with(model:[@question, @answer], local: true) do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :answer, rows:'5', class: "form-control", placeholder: "回答はこちら" %>
          </div>
        </div>
        <%= f.submit "送信する", class: "btn btn-success btn-lg pull-right" %>
      <% end %>
    </div>
  </div>
</div>