<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'left_column', genres: @genres %>
    </div>
    <div class="col-sm-9">
      <div class="question-show">
        <%= attachment_image_tag(@question, :image, width: "100%", fallback: "no_image.jpg") %>
        タイトル：<%= @question.title %><br>
        質問：<%= @question.body %><br>

        <%= link_to user_path(@question.user) do %>
          <%= attachment_image_tag(@question.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.png") %>
          <%= @question.user.name %>さん
        <% end %>

        <% if current_user != @question.user %>
          <% if @question.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(@question.user.id), method: :delete %></p>
          <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@question.user.id), method: :post %></p>
          <% end %>
        <% end %>

        <ul class="list-inline" id="question_<%= @question.id %>">

          <li>(<%= @question.created_at.strftime('%Y/%m/%d %H:%M:%S') %>)</li>

          <li class="comments-count">コメント<%= @question.answers.count %>件</li>

          <!--いいねボタン-->
          <li class="like-btn">
            <%= render 'public/likes/like-btn', question: @question %>
          </li>
          <div>
            <!--質問編集削除-->
            <% if @question.user == current_user %>
              <%= link_to '編集する', edit_question_path(@question), class: "btn btn-primary pull-right" %>
              <%= link_to '削除する', question_path(@question), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger pull-right" %>
            <% end %>
          </div>
        </ul>
      </div>

      <!--回答表示-->
      <div class="question-show">
        <ul class="answer-table">
          <%= render 'public/answers/answer-table', question: @question %>
        </ul>
      </div>

      <!--回答入力フォーム-->
      <div>
        <%= form_with(model:[@question, @answer], method: :post, remote: true) do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_area :answer, rows: '5', class: "form-control", placeholder: "回答はこちら", remote: true %>
            </div>
          </div>
          <%= f.submit "送信する", class: "btn btn-success pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>