<div class="container message-body">
  <div class="row">
    <h2>将棋情報掲示板</h2>
    <div class="col-md-3">
      <%= render 'public/questions/left_column', genres: @genres %>
    </div>
    <div class="col-md-9">
      <ol class="message-list">
        <% @post_messages.each do |post_message| %>
          <li>
            <div>
              <%= link_to user_path(post_message.user) do %>
  							<%= attachment_image_tag(post_message.user, :profile_image, :fill, 60, 60, fallback: "no-image-icon.png", size: '60x60') %>
  							<%= post_message.user.name %>さん
  						<% end %>
  						(<%= post_message.created_at.strftime('%Y/%m/%d %H:%M:%S') %>)
            </div>
            <div>
              <%= post_message.message %>
            </div>
          </li>
        <% end %>
        <%= paginate @post_messages %>
      </ol>

      <!--掲示板投稿-->
      <%= form_with model: @post_message, url: post_messages_path, method: :post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :message, "投稿する" %>
          <%= f.text_area :message, rows: 5, class: "form-control" %>
        </div>

        <div>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>