<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <h2>ジャンル検索</h2>
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, sort_questions_path(genre_id: genre.id) %>
          </li>
        <% end %>
      </div>
      <div>
        <%= link_to '質問する！！', new_question_path, class: "btn btn-info btn-lg new-question-button" %>
      </div>
      <div>
        <%= link_to '掲示板へ！！', post_messages_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col-sm-9">
      <h2>ユーザー一覧(全<%= @users.count %>人)</h2>
      <div class="table-two-rows">
        <% @users.each do |user| %>
          <div class="block-two-rows">
            <%= user.id %>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.png") %>
              <%= user.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>