<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'public/questions/left_column', genres: @genres %>
    </div>
    <div class="col-sm-9">
      <h2>
        <% if @user == current_user %>
          マイページ
        <% else %>
          <%= @user.name %>さんのページ
        <% end %>
      </h2>
      <div class="row">
        <div class="col-sm-6">
          <%= attachment_image_tag(@user, :profile_image, width: "100%", fallback: "no-image-icon.png") %>
        </div>
        <div class="col-sm-6">
          <table class=table>
            <tr>
              <th>名前：</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>自己紹介：</th>
              <th><%= @user.introduction = @user.introduction || "自己紹介はまだ書かれていません" %></th>
            </tr>
            <tr>
              <th>フォロー中</th>
              <th><%= link_to @user.followings.count, follows_user_path(@user.id) %></th>
            </tr>
            <tr>
              <th>フォロワー</th>
              <th><%= link_to @user.followers.count, followers_user_path(@user.id) %></th>
            </tr>
          </table>

          <% if @user == current_user %>
            <%= link_to '編集する', edit_user_path(current_user), class: "btn btn-primary" %>
            <%= link_to '退会する', quit_user_path(current_user), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>