<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <h2>ジャンル検索</h2>
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, sort_questions_path(genre_id: genre.id) %>
          </li>
        <% end %>
      </div>
      <div>
        <%= link_to '質問する！！', new_question_path, class: "btn btn-info btn-lg new-question-button" %>
      </div>
      <div>
        <%= link_to '掲示板へ！！', post_messages_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col-sm-9">
      <h2>マイページ</h2>
      <div class="row">
        <div class="col-sm-6">
          <%= attachment_image_tag(@user, :profile_image, width: "100%", fallback: "no-image-icon.png") %>
        </div>
        <div class="col-sm-6">
          名前：<%= @user.name %><br>
          自己紹介：<%= @user.introduction = @user.introduction || "自己紹介はまだ書かれていません" %><br>
          <% if @user == current_user %>
            <%= link_to '編集する', edit_user_path(current_user), class: "btn btn-primary btn-lg" %>
            <%= link_to '退会する', quit_user_path(current_user), class: "btn btn-danger btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>