<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ShogiPark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/944f4ad3ab.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/flash' %>

    <main>
      <%= yield %>
    </main>
    
    <div class="push"></div>
    
    <footer>
      Copyright © 2020 SHOGI-PARK All Rights Reserved.
    </footer>
  </body>
</html>
