<!DOCTYPE html>
<html>
  <head>
    <title>ShogiPark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <% if admin_signed_in? %>
            <%= link_to image_tag("logo.png"), admin_top_path, class: "logo" %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to '質問一覧', admin_questions_path %></li>
              <li><%= link_to 'ユーザー一覧', admin_users_path %></li>
              <li><%= link_to 'ジャンル管理', admin_genres_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            </ul>
          <% elsif user_signed_in? %>
            <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-text">ようこそ、<%= current_user.name %>さん!</li>
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to '質問一覧', questions_path %></li>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
            <ul class="nav navbar-nav navbar-right" style >
              <li><%= link_to 'サイト紹介', about_path %></li>
              <li><%= link_to '質問一覧', questions_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>


    <main>
      <%= yield %>
    </main>

    <footer>
      SHOGI-PARK
    </footer>

  </body>
</html>
